* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', Arial, sans-serif;
}

.header {
    display: flex;
    background-color: #1F2937;
    padding: 1rem;
    display: flex;
    align-items: center;
}
.headerlogo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #F9FAF8;
    margin-right: 2rem;
}
.navbar {
    color: #F9FAF8;
    background-color: #1F2937;
    padding: 1rem;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar li {
    margin-right: 1rem;
}

.navbar a {
    text-decoration: none;
    color: #F9FAF8;
}
.heromain {
    display: flex;
    background-color: #1F2937;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.herosecondary {
    background-color: #F3F4F6;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;        
    font-size: 1.5rem;
    color: #1F2937;
}
.call2action {
    background-color: #D1D5DB;
    height: 200px;
    display: flex;
    justify-content: center;        
    align-items: center;
    font-size: 1.5rem;      
    color: #1F2937;
}
.quote {
    background-color: #9CA3AF;
    height: 150px;              
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: #F9FAF8;
}
.mainleft {
    height: 300px;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: #F9FAF8;
    background-color: #1F2937;
}
.mainright {
    height: 300px;          
    justify-content: center;
    align-items: center;
    color: #F9FAF8;
    background-color: #1F2937;
}
.maintitle {          
    display: flex;
    font-size: 1.5rem;
}
.maincontent {          
    display: flex;
    font-size: 0.8rem;
}
.signupbtn  {
    background-color: #3B82F6;
    color: #F9FAF8;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
}
.placeholder {
    background-color: darkgray;
    height: 100px;          
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
}   